.footerGrid{
    padding: 0px 130px;
}


@media (min-width: 600px) {
  .footerGrid{
    padding: 0px;
  }
}

@media (min-width: 359px) {
  .footerGrid{
    padding: 0px;
  }
}

@media (min-width: 960px) {
  .footerGrid{
    padding: 0px 130px;
  }
}


.UsefullLinkitem1:hover span {
    color:white;
  }
.OurLocationitem1:hover{
    color:rgb(255, 255, 255);
  }
.sociallinkitem1:hover{
    color:rgb(255, 255, 255);
  }
.sociallinkitem1:hover svg{
    color:orange;
  }

