/* styles for screens up to 600px wide */
@media (max-width: 581px) {
    /* styles go here */
    /* .boxtitle{
       
    }
    .boxtitle1{

    }
    .boxtitle2{

    } */
 
    .spcepara{
        
        font-size: 18px !important;
       padding: 0px 20px;

  
    }
    .specbox{
        width: 90%;
        margin: 0px 15px !important;
    }
    .specbox2{
        width: 100%;
        margin: 0px 15px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        /* white-space: nowrap; */
    }
  }
  
  /* styles for screens between 600px and 900px wide */
  @media (min-width: 600px) and (max-width: 900px) {
    /* styles go here */
  }
  
  /* styles for screens wider than 900px */
  @media (min-width: 900px) {
    /* styles go here */
  }

.spcepara{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: auto !important; */
}